*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.clr::after{
    content::"";
    display: table;
    clear: both;
}

body{
    
}

ol,ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list_inline li{
    display: inline-block;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.txt_center{
text-align: center;
}

.txt_right{
    text-align: right;
}

.container{
    max-width: 1200px;
    margin:0 auto;
}


/*============== STYLING ==============*/
.list_item li{
    float:left;
    width:calc(100% / 4);
    margin-bottom: 10px;
}

.list_item li .card{
    padding: 10px;
    background: #333;
    color:#fff;
}

.list_item li:not(:last-child) .card{
    margin: 0 20px 0 0;
}